# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/out/
/carOutput.txt
/columnCommand.txt
/motorcycleOutput.txt
/outputStreamAdapter
/rowCommand.txt
/StudentOutputDom.xml
/StudentOutputSax.xml
